USE [master]
GO
/****** Object:  Database [CASTS]    Script Date: 12/11/2014 4:28:14 PM ******/
CREATE DATABASE [CASTS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CASTS', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.CIS411\MSSQL\DATA\CASTS.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CASTS_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.CIS411\MSSQL\DATA\CASTS_log.ldf' , SIZE = 5184KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CASTS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CASTS]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 12/11/2014 4:28:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADMIN](
	[PASSWORD] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BUILDING]    Script Date: 12/11/2014 4:28:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUILDING](
	[BLDG_ID] [int] IDENTITY(1,1) NOT NULL,
	[BUILDING_NAME] [nvarchar](50) NOT NULL,
	[BUILDING_DESC] [nvarchar](50) NULL,
 CONSTRAINT [BUILDING_PK] PRIMARY KEY CLUSTERED 
(
	[BLDG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DEPARTMENTS]    Script Date: 12/11/2014 4:28:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENTS](
	[DEPT_ID] [int] IDENTITY(1,1) NOT NULL,
	[DEPARTMENT_NAME] [nvarchar](50) NOT NULL,
	[DEPARTMENT_DESC] [nvarchar](50) NULL,
 CONSTRAINT [DEPARTMENTS_PK] PRIMARY KEY CLUSTERED 
(
	[DEPT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQUE_DEPARTMENTS] UNIQUE NONCLUSTERED 
(
	[DEPARTMENT_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EVENTS]    Script Date: 12/11/2014 4:28:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTS](
	[EVENTID] [int] IDENTITY(2,1) NOT NULL,
	[EVENTID_MASK] [nvarchar](6) NULL,
	[EVENT_TITLE] [nchar](25) NULL,
	[START_DATE] [date] NULL,
	[START_TIME] [time](7) NULL,
	[END_DATE] [date] NULL,
	[END_TIME] [time](7) NULL,
	[BLDG_ID] [int] NULL,
	[DEPT_ID] [int] NULL,
	[COMMENTS] [nvarchar](max) NULL,
 CONSTRAINT [EVENTS_PK] PRIMARY KEY CLUSTERED 
(
	[EVENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQUE_EVENTS] UNIQUE NONCLUSTERED 
(
	[EVENTID_MASK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EVENTS_ARCHIVE]    Script Date: 12/11/2014 4:28:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTS_ARCHIVE](
	[EVENTID] [int] NULL,
	[EVENTID_MASK] [nvarchar](6) NULL,
	[EVENT_TITLE] [nchar](25) NULL,
	[START_DATE] [date] NULL,
	[START_TIME] [time](7) NULL,
	[END_DATE] [date] NULL,
	[END_TIME] [time](7) NULL,
	[BLDG_ID] [int] NULL,
	[DEPT_ID] [int] NULL,
	[COMMENTS] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOURS_WORKED]    Script Date: 12/11/2014 4:28:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOURS_WORKED](
	[WORK_HR_ID] [int] IDENTITY(1,1) NOT NULL,
	[EVENT_ID] [int] NOT NULL,
	[USER_ID] [int] NOT NULL,
	[START_DATE] [date] NULL,
	[START_TIME] [time](7) NULL,
	[END_DATE] [date] NULL,
	[END_TIME] [time](7) NULL,
	[TOTAL_HOURS] [decimal](4, 2) NULL,
 CONSTRAINT [HOURS_WORKED_PK] PRIMARY KEY CLUSTERED 
(
	[WORK_HR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOURS_WORKED_ARCHIVE]    Script Date: 12/11/2014 4:28:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOURS_WORKED_ARCHIVE](
	[WORK_HR_ID] [int] NULL,
	[EVENT_ID] [int] NULL,
	[USER_ID] [int] NULL,
	[START_DATE] [date] NULL,
	[START_TIME] [time](7) NULL,
	[END_DATE] [date] NULL,
	[END_TIME] [time](7) NULL,
	[TOTAL_HOURS] [decimal](4, 2) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USERS]    Script Date: 12/11/2014 4:28:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[ACCESS_LEVEL] [nchar](10) NOT NULL,
	[CONTRACT_HOURS] [int] NULL,
	[HIRE_DATE] [datetime] NULL,
	[SEMESTER] [nchar](10) NULL,
 CONSTRAINT [USERS_PK] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQUE_USERS] UNIQUE NONCLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USERS_ARCHIVE]    Script Date: 12/11/2014 4:28:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS_ARCHIVE](
	[USER_ID] [int] NULL,
	[NAME] [nvarchar](50) NULL,
	[ACCESS_LEVEL] [nchar](10) NULL,
	[CONTRACT_HOURS] [int] NULL,
	[HIRE_DATE] [datetime] NULL,
	[SEMESTER] [nchar](10) NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD  CONSTRAINT [EVENTS_BLDG_FK] FOREIGN KEY([BLDG_ID])
REFERENCES [dbo].[BUILDING] ([BLDG_ID])
GO
ALTER TABLE [dbo].[EVENTS] CHECK CONSTRAINT [EVENTS_BLDG_FK]
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD  CONSTRAINT [EVENTS_DEPT_FK] FOREIGN KEY([DEPT_ID])
REFERENCES [dbo].[DEPARTMENTS] ([DEPT_ID])
GO
ALTER TABLE [dbo].[EVENTS] CHECK CONSTRAINT [EVENTS_DEPT_FK]
GO
ALTER TABLE [dbo].[HOURS_WORKED]  WITH CHECK ADD  CONSTRAINT [HOURS_WORKED_EVENT_FK] FOREIGN KEY([EVENT_ID])
REFERENCES [dbo].[EVENTS] ([EVENTID])
GO
ALTER TABLE [dbo].[HOURS_WORKED] CHECK CONSTRAINT [HOURS_WORKED_EVENT_FK]
GO
ALTER TABLE [dbo].[HOURS_WORKED]  WITH CHECK ADD  CONSTRAINT [HOURS_WORKED_USER_FK] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USERS] ([USER_ID])
GO
ALTER TABLE [dbo].[HOURS_WORKED] CHECK CONSTRAINT [HOURS_WORKED_USER_FK]
GO
USE [master]
GO
